{% extends "layout.html" %}

{% block main %}


<div class="background-indexpage">
      <div class="navbar">
        <a href="/">
          <button type="button"  class="glow-on-hover">Home</button>
        </a>
        <a href="/play">
          <button type="button" class="glow-on-hover">Play</button>
        </a>
        <a href="/rules">
          <button type="button" class="glow-on-hover">Rules</button>
        </a>
      </div>
    <div class="maintext">
       Stellar Sudoku
    </div>
    <div class=numbers>
        <img src="/static/images/1.png">
        <img src="/static/images/2.png">
        <img src="/static/images/3.png">
        <img src="/static/images/4.png">
        <img src="/static/images/5.png">
        <img src="/static/images/6.png">
        <img src="/static/images/7.png">
        <img src="/static/images/8.png">
        <img src="/static/images/9.png">
    </div>
    <div class="descr">
      <b>This is the Final Project for CS50x!</b>
      <br>
      <b>Created by Neicu Patrick</b>
      <br>
      <b>From Brasov,Romania</b>
    </div>
  </div>

{% endblock %}